

#usb
{
    z-index: 0;
    pointer-events: all;
    width: fit-content;
    height: fit-content;
    position: absolute;
    cursor: grab;
    transition: none;
}

#usb:active
{
    cursor: grabbing;
}

.socket
{
    display: block;
    pointer-events: none;
}



.center
{
    transform-origin: top;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}