
#HoverDisplay
{
    z-index: 10000000000;

    background-color: #004000;
    pointer-events: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    
    border-color: #00ff00;
    border-width: 0px;
    border-radius: .5vw;
    border-style: inset;
    transition: none;
    transition: height .25s, padding .25s, border-width .3s;
}

*:has(>.HoverInfo)
{
    text-decoration-line: underline;
    height: fit-content;
    width: fit-content;
    display: block;
    cursor: help;

    animation: sway 6s infinite;
}

@keyframes sway {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
.HoverInfo
{
    display: none;
}



