/* tags */

div
{
    width: fit-content;
    height: fit-content;
}

img
{
    height: 15vh;
    width: auto;   
}

body
{
    background-color: black;
    color: rgb(255, 191, 191);
    overflow: hidden;
}

audio
{
    display: none;
}

a
{
    color: red;
}

a:hover
{
    color: rgb(255, 0, 153);
}

canvas
{
    z-index: -1000;
    position: absolute;
    display: block;
    width: auto;
    height: auto;
}


/* Ids */

#rose
{
    height: 20%;
}

#about
{
    position: absolute;
    left: 15%;
    top: 130%;
}

@keyframes aboutAnim{to{left: 35%; top: 50%;}}

#about.animated
{
    animation: aboutAnim 6s forwards ease-out;
}

#portfollio
{
    position: absolute;
    left: 80%; 
    top: -30%;
}

@keyframes portfollioAnim{to{left: 55%;top: 20%;}}

#portfollio.animated
{
    animation: portfollioAnim 6.2s forwards ease-out;
}

#usb
{
    z-index: 0;
    pointer-events: all;
    width: auto;
    height: 8.5%;
    position: absolute;
    cursor: grab;
    transition: none;
}

#usb:active
{
    cursor: grabbing;
}

/* classes */


.socket
{
    display: block;
    pointer-events: none;
    align-content: center;
    text-align: center;
}

.socket > a
{
    position: absolute;
    display: none;
}