/* tags */

div
{
    width: fit-content;
    height: fit-content;
}

img
{
    height: 15vh;
    width: auto;   
}

body
{
    background-color: black;
    color: rgb(255, 191, 191);
    overflow: hidden;
}

audio
{
    display: none;
}

a
{
    color: red;
}

a:hover
{
    color: rgb(255, 0, 153);
}

canvas
{
    z-index: -1000;
    position: absolute;
    display: block;
    width: auto;
    height: auto;
}


/* Ids */

#rose
{
    height: 30vh;
}

#about
{
    position: absolute;
    left: 15vw;
    top: 130vh;
}

@keyframes aboutAnim{to{left: 35vw; top: 50vh;}}

#about.animated
{
    animation: aboutAnim 6s forwards ease-out;
}

#portfollio
{
    position: absolute;
    left: 80vw; 
    top: -30vh;
}

@keyframes portfollioAnim{to{left: 60vw;top: 20vh;}}

#portfollio.animated
{
    animation: portfollioAnim 6.2s forwards ease-out;
}

#usb
{
    z-index: 0;
    pointer-events: all;
    height: 8.5vh;
    width: auto;
    position: absolute;
    cursor: grab;
    transition: none;
}

#usb:active
{
    cursor: grabbing;
}

/* classes */


.socket
{
    display: block;
    pointer-events: none;
    align-content: center;
    text-align: center;
}

.socket > a
{
    position: absolute;
    display: none;
}