@font-face {
    font-family: pixel;
    src: url("../Assets/Fonts/munro.ttf");
}
#searchSpecifications
{
    width: auto;
    height: 30 vh;

    background-image: linear-gradient(rgba(255, 255, 255,1),rgba(255, 255, 255, 0));
}

button
{
    color: black;
    font-size: large;
    width: fit-content;
    border-width: 0px;
    cursor: pointer;
}

#edgeBlend
{
    user-select: none;;
    position: absolute;
    height: 100vh;
    width: 100vw;
    
    background-image: url(../Assets/Visual/Gifs/Wires.gif);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 1) 100%);
    transition: all .1s, height 0s;

}

#tagSpace
{
    position: inherit;
    margin: 0px auto 0px auto;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    width: 60vw;

    top: 5vh;

}

.tagBox
{
    user-select: none;
    display: flex;

    width: fit-content;
    height: 4vh;

    background: url(../Assets/Visual/bar.png) center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 5vh;

    flex-wrap: nowrap;
    justify-content: center;

    
}

#folderSpace
{
    top: 10vh;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: top;
    height: 80%;
    gap: 3vw;
    padding-left: 30px;
    padding-right: 30px;
}

.folderLink
{
    user-select: none;
    height: fit-content;
    border-radius: 20%;
    width: auto;
}

.folder
{
    z-index: 1000;
}

.tag
{
    border-radius: 1vw;
    filter: brightness(90%);
    width: fit-content;
}

.tag:hover
{
    filter: brightness(100%);
}

.selectedTag
{
    filter: brightness(150%);
    margin: 0px 20px 0px 20px;
    transform: scale(1.1);
}

.selectedTag:hover
{
    filter: brightness(175%);
    margin: 0px 20px 0px 20px;
    transform: scale(1.15) rotate(-3deg);
}




.roblox
{
    font-weight: bold;
    -webkit-text-stroke: .5px black;
    border-radius: 1px;
    color: white;
    background-color: red;
    border: 2px solid white;
}

.roblox::before
{
    position: absolute;
    content: url(../Assets/Visual/Guest.png);
    transform-origin: top;
    transform: translate(-50%, -10%) scale(.12) rotate(6deg) scaleX(-1);
    z-index: -1;
}

.roblox::after
{
    position: absolute;
    content: url(../Assets/Visual/Tix.webp);
    transform-origin: top;
    transform: translate(-50%, -7%) scale(.12) rotate(-6deg);
    
}

#edgeBlend.roblox
{
    border: 0px;
    background: transparent url("../Assets/Visual/RedHouse.png") 25%;
}

.college
{
    background: linear-gradient(45deg,rgb(241, 200, 31),rgb(255, 0, 0));
    font-family: pixel;
}

#edgeBlend.college
{
    background: url("../Assets/Visual/Gifs/Landscape\ of\ warmth.gif");
    background-size: 50% 100%;
}

.university
{
    background-image: url(https://3dmodels.download/storage/2022.09/05a08d349a05dcb8b17e3550b38da608.jpg);
    background-size: cover;
    border: 2px white;
    color: red;
}

#edgeBlend.university
{
    border: 0px;
    background: url("../Assets/Visual/OutTheWindow.webp") ;
    background-size: 25% 100%;
}

.programming
{
    color: white;
    background: url(../Assets/Visual/CodeScroll.webp);
    background-size: 100% 1500%;

    animation: codeScroll infinite 480s;
}

#edgeBlend.programming
{
    background: url(../Assets/Visual/CodeScroll.webp);
    background-size: 25% 1000%;
    filter: contrast(1.2);
}

@keyframes codeScroll
{
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 1500%;
    }
}

.audio
{
    background: linear-gradient(#20ABE4 0%,#F9FF00 100%);;
}

#edgeBlend.audio
{
    background: url(../Assets/Visual/Gifs/AucusticSea.webp);
    background-size: 33.5% 100%;
}
